/* HELPERS */
.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
  align-items: center;
}


main {
  height: 100vh;
}

.carousel svg {
  padding: 0 20px;
  cursor: pointer;
}


.carousel>img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .carousel>img {
    width: 550px;
    height: 550px;

  }
}