/* HELPERS */
.flex {
  display: flex;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

/* Layout */
main {
  height: 100vh;
}

/* Components */
.carousel button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 20px;

}

.carousel>img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .carousel>img {
    width: 550px;
    height: 550px;

  }
}